* {
    padding: 0;
}


body {
    /*background: conic-gradient(green, yellow);*/
    background: linear-gradient(goldenrod, green);
    margin: 0px;
}

.login-container {
    display:inline-flex;    
}

.login-container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
}

.login-container a {
    text-decoration: none;
}

main {
   /* text-align:center;*/
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(157, 103, 3);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 10px yellow;
    text-align:center;
    margin-top: 1px;
    margin-left: 20px;
    font-size: 20px;
}


h1 span {
    color: green;
}

header {
    margin: 0px;
    background-color:white;
    height: 30px;
    width: 100%;
    /*text-align: center;*/
}

nav {
    color: white;
}

.login {
    text-align: center;
}

div h3 {
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
    font-size: 25px;
}

main {
    width: 70%;
    margin-top: 14%;
    margin-left:auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 2%;
    background-color: white;
    height: 70vh;
    text-align: justify;
}


.maincontainer {
    margin-left: 20px;
}

input {
    width:90%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid green;
    border-radius: 10px;
}

label {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}


form {
    margin-top: -15px;
}
form h6 {
    font-size: 13px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 112px;
    color: rgb(121, 113, 113);
}

form a {
    text-decoration: none;
    color: rgb(121, 113, 113);
}

button h4 {
    margin: auto;

}

button {
    width: 90%;
    background:conic-gradient(green, goldenrod);
    border-radius: 40px;
    text-align: center;
    height: 32px;
    font-size: 12px;
    font-weight: 1000;
}

div p{
    font-family: Arial, Helvetica, sans-serif;    
    margin-top: 35px;
    text-align: center;
    color: rgb(121, 113, 113);
    font-size: 12px;
    margin-bottom: 15px;
}

.icons {
    justify-content:center;
    display: flex;
    gap: 6px;
    margin-bottom: 60px;
}

div h5 {
    text-align: center;
}

.sign a {
    text-decoration: none;
    color: rgb(121, 113, 113);
}

@media (min-width: 1000px){

    main {
        width: 20%;
        margin-top: 120px;
        
    }
    header {
        height: 50px;
    }

    h1 {
        margin-top: 10px;
        margin-left: 200px;
        font-size: 30px;        
    }

    div h3 {
        margin-top: 40px;
        margin-bottom: -10px;
    }

    form {
        margin-top: 100px;
    }

    .sign p {
        margin-bottom: 20px;
        margin-top: 100px;
    }

    button {
        margin-top: 10px;
        cursor: pointer;
        border: 2px solid green;
    }

    form h6 {
        margin-left: 180px;
    }

    button h4 {
        color: white;
    }

    div a:hover {
        color: green;                
    }
}
